name: generate animation

on:
  # run automatically every 12 hours
  schedule:
    - cron: "0 2 * * *"

  # allows to manually run the job at any time
  workflow_dispatch:

  # run on every push on the main branch
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            ./static/svg/snake-Light.svg
            ./static/svg/snake-Dark.svg

      - name: Push to GitHub
        uses: EndBug/add-and-commit@v9.1.4
        with:
          message: 'Generate Contribution Snake'      
          add: '*.svg --force'
          cwd: './static/svg'
